@charset "UTF-8";

*{
    margin: 0;
    padding: 0px;
}
body{
    background: #808080;
    font-size: 12px;
    font-family: "맑은고딕";
}

.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

ol, ul {
    list-style: none;
}

.content {
    width: 700px;
    background: #fff;
}

/* 타이틀 */
.content h3 {
    font-size: 18px;
    font-weight: bold;
}

/* 위치 */
ol > li {
    float: left;
}
ol > li:not(:last-child)::after {
    content: ">";
}


/* 폼 그룹 */
.content .form-group{
    /* background: #0000ff; */
    margin-bottom: 10px;
}

/* 폼타이틀 */
.content .form-group .form-text{
    width: 80px;
    display: inline-block;
    text-align: left;
}

/* 게시판선택 */
.content .form-group #sel-board {
    width: 200px;
}

/* 제목 */
.content .form-group #txt-title{
    width: 600px;
}

/* 비밀번호 */
.content .form-group #txt-pw {
    width: 200px;
}

/* 폼 라디오버튼 */
.content .form-group input[type="radio"] {
    margin-right: 10px;
}

/* 폼 허용범위 체크박스 */
.content .form-group input[type="checkbox"] {
    margin-right: 10px;
}

/* 내용 */
.content .form-group #txt-content {
    width: 686px;
    height: 85px;
}

/* 버튼영역 */
.content .btn-area{
    border-top: 1px solid #000;
    padding: 10px 0;
    text-align: center;
}
.content .btn-area button {
    width: 60px;
    height: 30px;
}