<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>mysite</title>
    <link rel="stylesheet" href="../assets/css/mysite.css">
</head>
<body>
    <div id="wrap">
        <div id="header" class="clearfix">
            <h1>MySite</h1>
            <ul class="clearfix">
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>
        </div>
        <div id="nav">
            <ul class="clearfix">
                <li><a href="">입사지원서</a></li>
                <li><a href="">게시판</a></li>
                <li><a href="">갤러리</a></li>
                <li><a href="">방명록</a></li>
            </ul>
        </div>
        <div id="content">content</div>
        <div id="footer">footer</div>
    </div>
</body>
</html>